<!doctype html>
<html>
    <head>
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.css" />
        <style>
            .card{
                fill: rgb(134, 142, 150);
            }

        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>
                        <h1>HELLO SHOP1</h1>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col text-center" >
                    <h5>회원기능</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <p><a class="btn btn-primary btn-lg" href="/member/create">회원가입</a></p>
                </div>
                <div class="col">
                    <p><a class="btn btn-primary btn-lg">회원목록</a></p>
                </div>
            </div>



            <div class="row">
                <div class="col text-center">
                    <h5>상품기능</h5>
                </div>
            </div>

            <div class="row text-center">
                <div class="col">
                    <p><a class="btn btn-primary btn-lg">상품등록</a></p>
                </div>
                <div class="col">
                    <p><a class="btn btn-primary btn-lg">상품목록</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col text-center" >
                    <h5>주문기능</h5>
                </div>
            </div>

            <div class="row text-center">
                <div class="col">
                    <p><a class="btn btn-primary btn-lg">상품주문</a></p>
                </div>
                <div class="col">
                    <p><a class="btn btn-primary btn-lg">주문내역</a></p>
                </div>
            </div>

        </div>

    </body>

</html>