<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (title=${'Item등록'})">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>5XX</h1>
        <ul>
                <li><span th:text="${timestamp}"></span></li>
                <li><span th:text="${status}"></span></li>
                <li><span th:text="${error}"></span></li>
                <li><span th:text="${message}"></span></li>
                <li><span th:text="${path}"></span></li>
        </ul>
</body>
</html>
